<!doctype html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/48a752667d.js" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 10rem;">
    <a class="navbar-brand " href="#" style="font-size: 2rem;margin-left: 15%;"><i class="fas fa-home"></i> OCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="font-size: 1.5rem;margin-right: 17%; ">
        <li class="nav-item ">
          <a class="nav-link mr-5" href="/upload">Use Our Tool</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link mr-5" href="/team">Meet Our Team</a>
        </li>
   
  
      </ul>
  
    </div>
  </nav>
  <div class="row justify-content-center">
      <div class="col-2 col-lg-2">
      </div>
      <div class="col-10 col-lg-5 mt-lg-5 pt-lg-5" style="  font-family: 'Montserrat', sans-serif;  font-size: 2.5rem;  line-height: 1.5;  font-weight: bold;">
  
          <div class="mt-lg-5">Optical Character</div>
          <div> Recognition App</div>
          <div class="col-2 d-lg-none"></div>
          <a  href="/upload" class="col-9 col-lg-5 btn btn-outline-secondary btn-lg mt-5 text-dark"><i class="fas fa-tools"></i> Use Our Tool</a>
      </div>
      <div class='col-3 d-lg-none'></div>
      <div class="col-9 col-lg-5 mt-5 pt-lg-5">
          <img class="mt-lg-3" style="width: 60%;" alt="image ocr"src="{{ url_for('static', filename='images/ocr_image.png') }}" >
      </div>
  
  
  </div>
  <div style='height:12.75rem'></div>
  
              <!-- Footer -->
              <footer id="footer" style='background-color:#343A40; color:white; width:100%;margin-top:2%; text-align:center ;'>
                OCR Web Application
                 </footer>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
<style>
    html, body {
    max-width: 100%;
    overflow-x: hidden;
}
</style>