<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/6e0737818f.js" crossorigin="anonymous"></script>
	
	  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white" style="background-color: #fff5ee; color: white;">
      <a class="navbar-brand text-white " href="/home" style="font-size: 2rem;margin-left: 15%;"><i class="fas fa-home"></i> OCR</a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="font-size: 1.5rem;margin-right: 17%; ">
          <li class="nav-item ">
            <a class="nav-link mr-5 text-white" href="/upload">Use Our Tool</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link mr-5 text-white" href="/team">Meet Our Team</a>
          </li>
     
    
        </ul>
    
      </div>
    </nav>

    <div class="org_body">

<section id="header" class="jumbotron text-center" style='background-color:#F2F2F2'>
    <h1 class="display-3">Meet the Team</h1>
    <p class="lead text-custom">This is Us.

    </p>
    <!-- <span class="btn btn-custom">Group No. 35</span> -->
    <p class="">Group No. 35</p>
  </section>




    <div class="container">
      <div class="row align-item-center justify-content-center">


        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img
              src="https://lh3.googleusercontent.com/pw/ACtC-3czmoa6MtWghs8Tiu_Fi0xfSZLV3bxNWUpuVG_FK9MjF93d5zxMGgdEGFDOzbnLb8OEDr8CWgAxJ_BsVw6aVlbtHvNtUUb5dyPSb4EhdCVFn308Duzpps9F_zgB4MGR7sgSl4aJB6nCDbycDqvAmIBn=w537-h538-no?authuser=0"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Kiran Thomas Cherian</h5>
              <!-- <p class="card-text">Front End Team</p> -->
              <span class="btn btn-outline-primary btn-sm">CED18I028</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4   text-center">
          <div class="card">
            <img
              src="https://lh3.googleusercontent.com/pw/ACtC-3dYEw9riCN4TMoyifvFr_sQafUzqluES1lMJkGge5FMcDfY76-4UhKCeGA1SoYtkJCh9K-NPAD5BKw9ucm3sSyCMT21iI2M9h2VINtHMdx4V8bIYCjxHrY8hbP9QzICGD--EvYsVPJsNhtCYdinerFy=w357-h356-no?authuser=0"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Sherin K Kariyil</h5>
              <!-- <p class="card-text">Back End Team</p> -->
              <span class="btn btn-outline-primary btn-sm ">CED18I050</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img
            src="{{ url_for('static', filename='images/Fathima.jpeg') }}"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Fathima Nourin N</h5>
              <!-- <p class="card-text">Front End Team</p> -->
              <span class="btn btn-outline-primary btn-sm">COE18017</span>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
        
          <!-- Footer -->
  <footer id="footer" style='background-color:#343A40; color:white; width:100%;margin-top:2%; text-align:center'>
 OCR Web Application
  </footer>
        </body>
        </html>


  
  <!-- <div class="col-12 col-sm-6 col-md-4  text-center">
    <div class="card">
      <img
        src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-9/p960x960/83376016_2777475419146510_8916652694077177856_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=L8ECb3oHDOIAX9lRRxm&_nc_ht=scontent.fcok4-1.fna&_nc_tp=6&oh=b5d441c7753a2491ec8aebe6d2def220&oe=5F153601"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Reuben Skariah Mathew</h5>
        <p class="card-text">Front End Team</p>
        <span class="btn btn-outline-primary btn-sm">CED18I042</span>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4  text-center">
    <div class="card">
      <img
        src="https://lh3.googleusercontent.com/pw/ACtC-3dYuCeHqat-fa17cZ_a6CWvTz_N1tJO5TWNqqTaORlg9cRB5bS6m9IdxW78Dan-LVHLFyur_SkX7C-kQkSBiIAV12Lv-Q79YHbIz8IUR6RR6O_844sy-iKQc8vaiaRiu2URvganr-t7lU2qkduXYrwQ=w430-h428-no?authuser=0"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Arjun Rajashekaran</h5>
        <p class="card-text">Front End Team</p>
        <span class="btn btn-outline-primary btn-sm">COE18B063</span>
      </div>
    </div>
  </div> -->







      </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/style.js" type="text/javascript"></script>
  </body>
</html>
<style>
.org_body{
  padding: 1% 1%;
  text-align:center;
}
</style>